*{
      margin: 0;
      padding: 0;
}
body{
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
      background-color: #f1f1f1;
}
.container{
      display: flex;
      flex-direction: column;
      align-items: center;
      background-color: #fff;
      padding: 20px;
      border-radius: 5px;
      box-shadow: 0 0 10px rgba(0,0,0,0.1);
      margin: 10px;
      width: 100%;

}
.inside{
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      padding: 10px;
      margin-bottom: 10px;
      border: none;
}
input{
      padding: 10px;
      margin-bottom: 10px;
      width: 80%;
      border: 1px solid #ccc;
      border-radius: 5px;
      outline: none;
}
i{
      padding: 10px;
      cursor: pointer;
}